<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>rcastellotti - boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.xeiaso.net/static/css/iosevka/family.css" />
  <style type="text/tailwindcss">
    body {
        font-family: "Iosevka Aile Iaso", sans-serif;
      }
      .b{
        @apply border border-dashed border-gray-700 p-1
      }
      p {
        @apply b
      }
      button {
        @apply hover:bg-zinc-900 b flex w-8 h-8 bg-black
      }
    </style>
</head>
<body class="bg-black flex flex-col absolute inset-0 text-gray-300">
  {% block content %}
  <article class=" text-xs sm:text-sm p-2 border border-gray-700 w-9/12 sm:w-3/12 m-auto">
    <div class="bg-black p-1 mb-2 b flex flex-row justify-between items-center">
      <div>
        <h1 class="text-white font-extrabold text-xl">
          {{meta.title[0]}}
        </h1>
        <time class="mt-1 text-xs">{{meta.date[0]}}</time>
      </div>
      <div class="text-2xl">{{meta.emoji[0]}}</div>
    </div>
    {{post|safe}}
    <div class="mt-2 flex justify-between">
      {% if meta.slug[0]| int >0 %}
      <a href="{{meta.slug[0]| int -1}}.html">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 m-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </button>
      </a>
      {% endif %}
      <div class=" bg-[#{{meta.color[0]}}] w-1/2"></div>
      {% if meta.slug[0]| int < COUNT-1 %} 
      <a href="{{meta.slug[0]| int +1}}.html">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 m-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </button>
        </a>
      {%endif %}
    </div>
  </article>
  {% endblock %}
</body>
</html>